.b-feeds
  %h1
    Все твиттеры ВГУ ФКН

  %table
    %tr
      %th= "Юзерпик"
      %th= "Юзернейм"
      %th= "Количество твитов"
    - @feeds.each do |feed|
      %tr
        %td
          %a{href: "http://twitter.com/#{feed.username}"}
            %img{src: feed.userpic}
        %td
          %a{href: "http://twitter.com/#{feed.username}"}
            = feed.username
        %td
          = feed.tweets_counter
