!!! 5
%html(lang="en")
  %head
    %title
      Все твиттеры ВГУ ФКН
    %link{ rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon" }
    %link{ rel: 'stylesheet', href: '/assets/application.css', type: "text/css" }
    %script{ src: "http://#{@request.host}:9292/faye.js", type: "text/javascript" }
    %script{ src: '/assets/application.js', type: "text/javascript" }

  %body{"data-host" => @request.host}
    :erb
      <a href="https://github.com/Mehonoshin/csf-twi"><img style="position: absolute; z-index: 1000; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:href => "/", :class => "brand"}= "CS Twi"
          .nav-collapse
            %ul.nav
              %li{:class => @request.path == "/" ? "active" : ""}
                %a{:href => "/"}= "Твиты"
              %li{:class => @request.path == "/twiple" ? "active" : ""}
                %a{:href => "/twiple", :class => ""}= "Люди"
              %li
                %a{:href => "http://twitter.com/CSFTwi", :target => "blank", :class => ""}= "Наш твиттер"
              %li{:class => @request.path == "/about" ? "active" : ""}
                %a{:href => "/about", :class => ""}= "О проекте"
          .tweet-it-button
            :erb
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="Твиттер-лента ВГУ ФКН http://csf-twi.cspub.net" data-via="CSFTwi" data-lang="ru">Твитнуть</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    .container
      - unless @message.nil?
        .hero-unit
          = @message
      .row
        .span12
          = yield
    :erb
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter15013735 = new Ya.Metrika({id:15013735, enableAll: true});
              } catch(e) {}
          });
          
          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="//mc.yandex.ru/watch/15013735" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->

