%h2= "Все твиты ВГУ ФКН"
.tweets
  - @tweets.each do |tweet|
    %img{src: tweet.feed.userpic, class: "userpic"}
    %blockquote
      %p= h tweet.text
      %small
        = link_to h(tweet.username), "http://twitter.com/#{h(tweet.username)}"
        опубликовано
        = tweet.created_at.strftime('%d.%m.%Y')

= will_paginate @tweets, previous_label: "< Туда", next_label: "Сюда >"
