%h2= "Все твиты ВГУ ФКН"
- @tweets.each do |tweet|
  %blockquote
    %p= h tweet.text
    %small
      = link_to h(tweet.username), "http://twitter.com/#{h(tweet.username)}"

.pagination
  = will_paginate @tweets, previous_label: "< Туда", next_label: "Сюда >"
