%h2= "Все твиты ВГУ ФКН"
- @tweets.each do |tweet|
  %blockquote
    %p= h tweet.text
    %small
      = link_to h(tweet.username), "http://twitter.com/#{h(tweet.username)}"

.pagination
  %ul
    - if @total_tweets > PERPAGE
      - 1.upto((@total_tweets / PERPAGE).round + 1) do |i|
        %li{class: i.to_s == @page ? "active" : ""}
          = link_to i, "/?page=#{i}"
